
body{ 
    background-image: url(RexorResume_Background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  footer {

    display: block ;
  }

  .profpic{

      position: center;  
      width: 150px;
      height: 150px;
      border-radius: 50%; 
      background-image: url("profpic.jpg");
      width: 160 ;
      height:240;
      background-position: center  center; 
      background-size: cover;
      background-position: -25px -20px;
      text-align: center ; 
      margin-left: auto;
      margin-right: auto;
      margin-top: 7%;

    }
    .Name{
      color: white;
      top: 193px;
      left: 15%;
      text-align: center;

    }

    .Section{
      color: #8db6cd  ;
      top: 193px;
      left: 15%;
      text-align: center;
      margin-top: 0%;

    }

    .PersonalData{

      color: #1ABC9C  ;
      top: 193px;
      left: 15%;
      text-align: absolute;
      margin-top: 10%;
      text-indent: 1.5in;

    }

    .Info{

      color: #a3a3a3;
      top: 193px;
      left: 15%;
      text-align: absolute;
      margin-top: -1%;
      text-indent: 2.5in;

    }

    .Email{

      color: #a3a3a3;
      top: 193px;
      left: 15%;
      text-align: absolute;
      margin-top: -1%;
      text-indent: 2.5in;

    }

    .Address{


      color: #a3a3a3;
      top: 193px;
      left: 15%;
      text-align: absolute;
      margin-top: -1%;
      text-indent: 2.5in;




    }

    .BirthDay{
      color: white;
      margin-top: -1%;
      text-indent: 2in;



    }

    .Bday{
      color: #a3a3a3;
      top: 600px;
      left: 15%;
      text-align: absolute;
      margin-top: -2%;
      text-indent: 3.5in;



    }

    .Bplace {

      color: white;
      margin-top: -1%;
      text-indent: 2in;

    }
    .BirthPlace {
      color: #a3a3a3;
      top: 600px;
      left: 15%;
      text-align: absolute;
      margin-top: -2%;
      text-indent: 3.5in;

    }

    .Religion {
      color: white;
      margin-top: -1%;
      text-indent: 2in;


    }
    .Bonemarrow {

      color: #a3a3a3;
      top: 600px;
      left: 15%;
      text-align: absolute;
      margin-top: -2%;
      text-indent: 3.5in;
      
    }

    .Nationality{

      color: white;
      margin-top: -1%;
      text-indent: 2in;
    }  

    .NatlFil{

      color: #a3a3a3;
      top: 600px;
      left: 15%;
      text-align: absolute;
      margin-top: -2%;
      text-indent: 4in;

    }

    

    .EducAlignment {

      margin-top: 20% ;

    }

    .EducBackground {

      text-align: absolute;
      margin-top: -50%;
      text-indent: 4in;

    }

    .SkillsAlignment {

      margin-top: 85% ;


    }

    .SkillsBackground {


      text-align: absolute;
      margin-top: -50%;
      text-indent: 4in;


    }

    .ExpAlignment {

      margin-top: 140% ;
      text-align: absolute;

    }


    .ExpBackground {

      text-align: absolute;
      margin-top: -50%;
      text-indent: 4in;


    }

    ul {

      display: flex ;
      position: absolute;
      top: 50%;
      left: 50% ;
      transform: translate(-50% , -50%)

      
    }


    ul li {

      list-style: none ;

    }

    dl{

        font-style: italic; 
        font-weight: bold;
        font-size: 30px;
        text-align: left; 
        padding: 0 26px 0 0; 
        width: 170px; 
        float: bottom bottom;
        height: 300px;
        /*   <*Vertical Border Lign*/
        border-right: 1px solid #999; 
        color: #1ABC9C ; 


    }


    


       dt { 

        font-style: italic; 
        font-weight: bold;
        font-size: 30px;
        text-align: right; 
        padding: 0 26px 0 0; 
        width: 170px; 
        float: left;
        height: 600px;
        /*   <*Vertical Border Lign*/
        border-right: 1px solid #999; 
        color: #1ABC9C ; 

      }
        dd { 

          color: white;
          width:1200px;
          float: right;

           }

        dd.clear { 

          float: none; 
          margin: 0; 
          height: 15px; 

        }


    hr
    {

      height: 5px;
      background-color: #FBFCFC ;

    }


    h2.x{

      text-align: absolute;
      margin-top: -2%;
      text-indent: 4in;
    }
/*--------footer----------------*/
/* footer {
	background-color: #555555;
}

.copyright {
	padding: 30px;
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: 18px;
} */

/* .footer{

    width: 100% ;
    height: auto ; 
    margin: auto ; 
    background: #272727 ;
    padding: 60px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-social-icons {




} */

